USE [Prestamos]
GO
/****** Object:  Table [dbo].[Cuotas]    Script Date: 27/10/2021 15:13:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuotas](
	[IdDetalle] [int] NOT NULL,
	[NroCouta] [int] NOT NULL,
	[FechaVencimiento] [date] NOT NULL,
	[IdEstadoCouta] [int] NOT NULL,
	[Monto] [float] NOT NULL,
 CONSTRAINT [PK_Cuotas] PRIMARY KEY CLUSTERED 
(
	[IdDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departamentos]    Script Date: 27/10/2021 15:13:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamentos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdProvincia] [int] NOT NULL,
	[Nombre] [varchar](250) NOT NULL,
 CONSTRAINT [PK_Departamento] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetallePrestamos]    Script Date: 27/10/2021 15:13:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallePrestamos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Monto] [float] NOT NULL,
	[FechaDeAcuerdo] [datetime] NULL,
	[CantidadCuotas] [int] NOT NULL,
	[InteresXCuota] [float] NOT NULL,
	[DiasEntreCuotas] [int] NOT NULL,
	[DiasTolerancia] [int] NOT NULL,
	[IdEstadoDePrestamo] [int] NOT NULL,
 CONSTRAINT [PK_DetallePrestamos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadosDeCuotas]    Script Date: 27/10/2021 15:13:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadosDeCuotas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](300) NOT NULL,
 CONSTRAINT [PK_EstadosDeCuotas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadosDePrestamos]    Script Date: 27/10/2021 15:13:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadosDePrestamos](
	[Id] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Comentarios] [varchar](512) NULL,
 CONSTRAINT [PK_Estados] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Generos]    Script Date: 27/10/2021 15:13:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Generos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](20) NOT NULL,
	[Orden] [int] NULL,
 CONSTRAINT [PK_Generos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Localidades]    Script Date: 27/10/2021 15:13:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Localidades](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdDepartamento] [int] NOT NULL,
	[Nombre] [varchar](250) NOT NULL,
 CONSTRAINT [PK_Localidad] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PreguntasFrecuentes]    Script Date: 27/10/2021 15:13:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PreguntasFrecuentes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Pregunta] [varchar](50) NOT NULL,
	[Respuesta] [varchar](100) NOT NULL,
 CONSTRAINT [PK_PregutnasFrecuentes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prestamos]    Script Date: 27/10/2021 15:13:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prestamos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdDetallePrestamo] [int] NOT NULL,
	[IdUsuarioPrestamista] [int] NOT NULL,
	[IdUsuarioPrestador] [int] NULL,
 CONSTRAINT [PK_Prestamos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provincias]    Script Date: 27/10/2021 15:13:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](250) NOT NULL,
	[Orden] [int] NULL,
 CONSTRAINT [PK_Provincia] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 27/10/2021 15:13:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Password] [varchar](20) NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Mail] [varchar](320) NOT NULL,
	[Telefono] [varchar](50) NOT NULL,
	[Direccion] [varchar](512) NOT NULL,
	[DNI] [varchar](20) NOT NULL,
	[CBU] [varchar](20) NULL,
	[CBUAlias] [varchar](20) NULL,
	[CUIT] [varchar](11) NULL,
	[Puntos] [int] NOT NULL,
	[Ocupacion] [varchar](50) NULL,
	[FechaCreación] [datetime] NOT NULL,
	[Descripcion] [varchar](512) NOT NULL,
	[IdGenero] [int] NULL,
	[IdLocalidad] [int] NULL,
	[URLFoto] [varchar](512) NULL,
	[CantidadPrestamosExitosos] [int] NULL,
	[FechaNacimiento] [datetime] NULL,
	[ApiKey] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Departamentos] ON 

INSERT [dbo].[Departamentos] ([Id], [IdProvincia], [Nombre]) VALUES (1, 1, N'AZUL')
INSERT [dbo].[Departamentos] ([Id], [IdProvincia], [Nombre]) VALUES (2, 1, N'PUAN')
INSERT [dbo].[Departamentos] ([Id], [IdProvincia], [Nombre]) VALUES (3, 1, N'LA MATANZA')
GO
SET IDENTITY_INSERT [dbo].[Departamentos] OFF
GO
SET IDENTITY_INSERT [dbo].[DetallePrestamos] ON 

INSERT [dbo].[DetallePrestamos] ([Id], [Monto], [FechaDeAcuerdo], [CantidadCuotas], [InteresXCuota], [DiasEntreCuotas], [DiasTolerancia], [IdEstadoDePrestamo]) VALUES (3, 200, CAST(N'2019-03-03T00:00:00.000' AS DateTime), 10, 5, 70, 3, 5)
INSERT [dbo].[DetallePrestamos] ([Id], [Monto], [FechaDeAcuerdo], [CantidadCuotas], [InteresXCuota], [DiasEntreCuotas], [DiasTolerancia], [IdEstadoDePrestamo]) VALUES (4, 222, CAST(N'2018-07-18T00:00:00.000' AS DateTime), 5, 10, 20, 0, 5)
INSERT [dbo].[DetallePrestamos] ([Id], [Monto], [FechaDeAcuerdo], [CantidadCuotas], [InteresXCuota], [DiasEntreCuotas], [DiasTolerancia], [IdEstadoDePrestamo]) VALUES (5, 50, CAST(N'2016-04-15T00:00:00.000' AS DateTime), 3, 5, 10, 5, 5)
SET IDENTITY_INSERT [dbo].[DetallePrestamos] OFF
GO
SET IDENTITY_INSERT [dbo].[EstadosDeCuotas] ON 

INSERT [dbo].[EstadosDeCuotas] ([Id], [Nombre], [Descripcion]) VALUES (1, N'Pendiente', N'Esta cuota todavia no fue pagada')
INSERT [dbo].[EstadosDeCuotas] ([Id], [Nombre], [Descripcion]) VALUES (2, N'Por confirmar', N'Esta couta fue pagada y el prestamista debe dar el ok para asegurarse de que todo salio bien')
INSERT [dbo].[EstadosDeCuotas] ([Id], [Nombre], [Descripcion]) VALUES (3, N'Paga', N'Ya se confirmo el pago de esta couta')
SET IDENTITY_INSERT [dbo].[EstadosDeCuotas] OFF
GO
INSERT [dbo].[EstadosDePrestamos] ([Id], [Nombre], [Comentarios]) VALUES (1, N'Negociando', N'El prestamo ha sido solicitado')
INSERT [dbo].[EstadosDePrestamos] ([Id], [Nombre], [Comentarios]) VALUES (2, N'Activo', N'Este prestamo está ya fue concretado y el prestario debe pagar la siguiente couta')
INSERT [dbo].[EstadosDePrestamos] ([Id], [Nombre], [Comentarios]) VALUES (3, N'Demorado', N'El creditario está dentro de los días de tolerancia para pagar dentro de la fecha límite (notificar a ambas partes)')
GO
SET IDENTITY_INSERT [dbo].[Generos] ON 

INSERT [dbo].[Generos] ([Id], [Nombre], [Orden]) VALUES (1, N'Masculino', 1)
INSERT [dbo].[Generos] ([Id], [Nombre], [Orden]) VALUES (2, N'Femenino', 2)
INSERT [dbo].[Generos] ([Id], [Nombre], [Orden]) VALUES (3, N'Otro', 4)
SET IDENTITY_INSERT [dbo].[Generos] OFF
GO
SET IDENTITY_INSERT [dbo].[Localidades] ON 

INSERT [dbo].[Localidades] ([Id], [IdDepartamento], [Nombre]) VALUES (1, 1, N'16 DE JULIO')
INSERT [dbo].[Localidades] ([Id], [IdDepartamento], [Nombre]) VALUES (2, 2, N'17 DE AGOSTO')
INSERT [dbo].[Localidades] ([Id], [IdDepartamento], [Nombre]) VALUES (3, 3, N'20 DE JUNIO')
GO
SET IDENTITY_INSERT [dbo].[Localidades] OFF
GO
SET IDENTITY_INSERT [dbo].[PreguntasFrecuentes] ON 

INSERT [dbo].[PreguntasFrecuentes] ([Id], [Pregunta], [Respuesta]) VALUES (1, N'¿Como pido un prestaomo?', N'pidiendolo')
SET IDENTITY_INSERT [dbo].[PreguntasFrecuentes] OFF
GO
SET IDENTITY_INSERT [dbo].[Prestamos] ON 

INSERT [dbo].[Prestamos] ([Id], [IdDetallePrestamo], [IdUsuarioPrestamista], [IdUsuarioPrestador]) VALUES (5, 4, 5, 6)
INSERT [dbo].[Prestamos] ([Id], [IdDetallePrestamo], [IdUsuarioPrestamista], [IdUsuarioPrestador]) VALUES (6, 5, 6, 7)
INSERT [dbo].[Prestamos] ([Id], [IdDetallePrestamo], [IdUsuarioPrestamista], [IdUsuarioPrestador]) VALUES (7, 18, 7, NULL)
SET IDENTITY_INSERT [dbo].[Prestamos] OFF
GO
SET IDENTITY_INSERT [dbo].[Provincias] ON 

INSERT [dbo].[Provincias] ([Id], [Nombre], [Orden]) VALUES (1, N'BUENOS AIRES', 2)
INSERT [dbo].[Provincias] ([Id], [Nombre], [Orden]) VALUES (2, N'CATAMARCA', 3)
INSERT [dbo].[Provincias] ([Id], [Nombre], [Orden]) VALUES (3, N'CHACO', 4)
SET IDENTITY_INSERT [dbo].[Provincias] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [UserName], [Password], [Nombre], [Apellido], [Mail], [Telefono], [Direccion], [DNI], [CBU], [CBUAlias], [CUIT], [Puntos], [Ocupacion], [FechaCreación], [Descripcion], [IdGenero], [IdLocalidad], [URLFoto], [CantidadPrestamosExitosos], [FechaNacimiento], [ApiKey]) VALUES (6, N'Marina', N'luka11', N'Marina', N'Roitman', N'luka@gmail.com', N'1', N'1', N'1', N'1', N'1', N'1', 1, N'1', CAST(N'2020-01-01T00:00:00.000' AS DateTime), N'1', 1, 11, N'...', 1, CAST(N'2020-01-01T00:00:00.000' AS DateTime), N'137AC728-7425-4854-A2ED-5BEA920B084C')
INSERT [dbo].[Usuarios] ([Id], [UserName], [Password], [Nombre], [Apellido], [Mail], [Telefono], [Direccion], [DNI], [CBU], [CBUAlias], [CUIT], [Puntos], [Ocupacion], [FechaCreación], [Descripcion], [IdGenero], [IdLocalidad], [URLFoto], [CantidadPrestamosExitosos], [FechaNacimiento], [ApiKey]) VALUES (7, N'Polshu', NULL, N'Pablo', N'Ulman', N'1', N'1', N'1', N'1', N'1', N'1', N'1', 1, N'1', CAST(N'2020-01-01T00:00:00.000' AS DateTime), N'1', 1, 11, N'...', 1, CAST(N'2020-01-01T00:00:00.000' AS DateTime), N'11468125-B476-437C-8224-E600C50B1FA9')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
/****** Object:  Index [Alias]    Script Date: 27/10/2021 15:13:04 ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [Alias] UNIQUE NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [CBU]    Script Date: 27/10/2021 15:13:04 ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [CBU] UNIQUE NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [CUIT]    Script Date: 27/10/2021 15:13:04 ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [CUIT] UNIQUE NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [DNI]    Script Date: 27/10/2021 15:13:04 ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DNI] UNIQUE NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ApiKey]    Script Date: 27/10/2021 15:13:04 ******/
CREATE UNIQUE NONCLUSTERED INDEX [ApiKey] ON [dbo].[Usuarios]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = ON, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Usuarios_ApiKey]  DEFAULT ('Jorge') FOR [ApiKey]
GO
ALTER TABLE [dbo].[Cuotas]  WITH CHECK ADD  CONSTRAINT [FK_Cuotas_DetallePrestamos] FOREIGN KEY([IdDetalle])
REFERENCES [dbo].[DetallePrestamos] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cuotas] CHECK CONSTRAINT [FK_Cuotas_DetallePrestamos]
GO
ALTER TABLE [dbo].[Cuotas]  WITH CHECK ADD  CONSTRAINT [FK_Cuotas_EstadosDeCuotas] FOREIGN KEY([IdEstadoCouta])
REFERENCES [dbo].[EstadosDeCuotas] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Cuotas] CHECK CONSTRAINT [FK_Cuotas_EstadosDeCuotas]
GO
ALTER TABLE [dbo].[Departamentos]  WITH CHECK ADD  CONSTRAINT [FK_Departamentos_Provincia] FOREIGN KEY([IdProvincia])
REFERENCES [dbo].[Provincias] ([Id])
GO
ALTER TABLE [dbo].[Departamentos] CHECK CONSTRAINT [FK_Departamentos_Provincia]
GO
ALTER TABLE [dbo].[DetallePrestamos]  WITH CHECK ADD  CONSTRAINT [FK_DetallePrestamos_EstadosDePrestamos] FOREIGN KEY([IdEstadoDePrestamo])
REFERENCES [dbo].[EstadosDePrestamos] ([Id])
GO
ALTER TABLE [dbo].[DetallePrestamos] CHECK CONSTRAINT [FK_DetallePrestamos_EstadosDePrestamos]
GO
ALTER TABLE [dbo].[Localidades]  WITH CHECK ADD  CONSTRAINT [FK_Localidad_Departamentos] FOREIGN KEY([IdDepartamento])
REFERENCES [dbo].[Departamentos] ([Id])
GO
ALTER TABLE [dbo].[Localidades] CHECK CONSTRAINT [FK_Localidad_Departamentos]
GO
ALTER TABLE [dbo].[Prestamos]  WITH NOCHECK ADD  CONSTRAINT [FK_Prestamos_DetallePrestamos] FOREIGN KEY([IdDetallePrestamo])
REFERENCES [dbo].[DetallePrestamos] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Prestamos] CHECK CONSTRAINT [FK_Prestamos_DetallePrestamos]
GO
ALTER TABLE [dbo].[Prestamos]  WITH CHECK ADD  CONSTRAINT [FK_Prestamos_Usuarios] FOREIGN KEY([IdUsuarioPrestamista])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Prestamos] CHECK CONSTRAINT [FK_Prestamos_Usuarios]
GO
ALTER TABLE [dbo].[Prestamos]  WITH CHECK ADD  CONSTRAINT [FK_Prestamos_Usuarios1] FOREIGN KEY([IdUsuarioPrestador])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Prestamos] CHECK CONSTRAINT [FK_Prestamos_Usuarios1]
GO
/****** Object:  StoredProcedure [dbo].[BorrarDetalle]    Script Date: 27/10/2021 15:13:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[BorrarDetalle]
@idDetalle INT
AS
	
BEGIN
 DELETE FROM DetallePrestamos WHERE DetallePrestamos.Id = @idDetalle;
END

GO
/****** Object:  StoredProcedure [dbo].[BorrarPrestamo]    Script Date: 7/10/2021 10:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[BorrarPrestamo]
	@idPrestamo INT
AS
BEGIN

DELETE FROM Prestamos WHERE Prestamos.id = @idPrestamo;

END

GO
/****** Object:  StoredProcedure [dbo].[BorrarUsuario]    Script Date: 7/10/2021 10:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[BorrarUsuario] 
	@idUsuario INT
AS
BEGIN

DELETE FROM Usuarios WHERE Usuarios.Id = @idUsuario;

END

GO
/****** Object:  StoredProcedure [dbo].[Cuotas_borrar]    Script Date: 7/10/2021 10:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[Cuotas_borrar]
	@idDetalle int, @nroCuota int = NULL
AS
BEGIN
	DELETE FROM Cuotas WHERE IdDetalle = @idDetalle AND (NroCouta= @nroCuota OR NroCouta IS NULL)
END
GO
/****** Object:  StoredProcedure [dbo].[Cuotas_insertar]    Script Date: 7/10/2021 10:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Cuotas_insertar]
@idDetalle int, @nroCuota int, @fechaVencimiento Date, @idEstado int, @monto float
	
AS
BEGIN
	INSERT INTO Cuotas(IdDetalle, NroCouta, FechaVencimiento, IdEstadoCouta, Monto)
	VALUES (@idDetalle,@nroCuota,@fechaVencimiento,@idEstado,@monto)
	SELECT @idDetalle;
END
GO
/****** Object:  StoredProcedure [dbo].[Cuotas_obtenerPorId]    Script Date: 7/10/2021 10:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Cuotas_obtenerPorId]
	@idDetalle int, @nroCuota int 
AS
BEGIN
	
	SELECT * FROM Cuotas WHERE IdDetalle = @idDetalle AND NroCouta = @nroCuota;
END
GO
/****** Object:  StoredProcedure [dbo].[Cuotas_obtenerTodos]    Script Date: 7/10/2021 10:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Cuotas_obtenerTodos]
@idDetalle int
	
AS
BEGIN
	SELECT * FROM Cuotas
	INNER JOIN DetallePrestamos ON DetallePrestamos.Id = Cuotas.IdDetalle
	WHERE IdDetalle = @idDetalle
END
GO
/****** Object:  StoredProcedure [dbo].[Cuotas_Update]    Script Date: 7/10/2021 10:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Cuotas_Update]
	@idDetalle int, @nroCuota int, @fechaVencimiento Date, @idEstado int, @monto float
AS
BEGIN
	UPDATE Cuotas
	SET NroCouta = @nroCuota,
	FechaVencimiento = @fechaVencimiento,
	IdEstadoCouta = @idEstado,
	Monto = @monto
	WHERE IdDetalle = @idDetalle
	SELECT @idDetalle;
END
GO
/****** Object:  StoredProcedure [dbo].[Departamentos_ObtenerPorIdProvincia]    Script Date: 7/10/2021 10:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Departamentos_ObtenerPorIdProvincia]
		@intIdProvincia INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT 
		[Id],
		[Nombre]
  FROM [Departamentos]
  WHERE Departamentos.IdProvincia = @intIdProvincia 
  ORDER BY 
	Nombre
END
GO
/****** Object:  StoredProcedure [dbo].[DetallePrestamo_ObtenerPorId]    Script Date: 7/10/2021 10:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[DetallePrestamo_ObtenerPorId]
@IdDetalle INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
  FROM [DetallePrestamos]
  WHERE DetallePrestamos.Id = @IdDetalle
END
GO
/****** Object:  StoredProcedure [dbo].[DetallePrestamo_Update]    Script Date: 7/10/2021 10:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DetallePrestamo_Update]
	@idDetalle INT,@Monto INT,@idEstadoPrestamo INT,@CantCuotas INT,@InteresXCuota INT,@DiasEntreCuotas INT,@DiasTolereancia INT,@FechaAcuerdo DATETIME
AS
BEGIN
	

		UPDATE DetallePrestamos
		SET Monto = @Monto,
		IdEstadoDePrestamo = @idEstadoPrestamo,
		CantidadCuotas = @CantCuotas,
		InteresXCuota = @InteresXCuota,
		DiasEntreCuotas = @DiasEntreCuotas,
		DiasTolerancia = @DiasTolereancia,
		FechaDeAcuerdo = @FechaAcuerdo
		WHERE Id = @idDetalle
		RETURN @@ROWCOUNT
END
GO
/****** Object:  StoredProcedure [dbo].[Detalles_obtenerTodos]    Script Date: 7/10/2021 10:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Detalles_obtenerTodos]
	
AS
BEGIN
	SELECT * FROM DetallePrestamos
	
	
END

GO
/****** Object:  StoredProcedure [dbo].[EstadosDePrestamo_obtenerTodos]    Script Date: 7/10/2021 10:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[EstadosDePrestamo_obtenerTodos]
	
AS
BEGIN
		SELECT*FROM EstadosDePrestamos
   ORDER BY Id
END
GO
/****** Object:  StoredProcedure [dbo].[Generos_ObtenerTodos]    Script Date: 7/10/2021 10:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Generos_ObtenerTodos]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT 
		[Id],
		[Nombre],
		[Orden]
  FROM [Generos]
  ORDER BY 
	Orden
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarDepartamento]    Script Date: 7/10/2021 10:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertarDepartamento]
@IdProvincia INT, @Nombre VARCHAR(250)
	
AS
BEGIN

	SET NOCOUNT ON;
	INSERT INTO Departamentos (IdProvincia,Nombre)
	VALUES(@IdProvincia,@Nombre);
    
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarDepartamento_scalar]    Script Date: 7/10/2021 10:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertarDepartamento_scalar]
@IdProvincia INT, @Nombre VARCHAR(250)
	
AS
BEGIN

	SET NOCOUNT ON;
	INSERT INTO Departamentos (IdProvincia,Nombre)
	VALUES(@IdProvincia,@Nombre);
	SELECT @@IDENTITY;
    
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarDetalle]    Script Date: 7/10/2021 10:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertarDetalle]
@Monto INT,@idEstadoPrestamo INT,@CantCuotas INT,@InteresXCuota INT,@DiasEntreCuotas INT,@DiasTolereancia INT,@FechaAcuerdo DATETIME
	
AS
BEGIN

	SET NOCOUNT ON;
	INSERT INTO DetallePrestamos(Monto,FechaDeAcuerdo,CantidadCuotas,InteresXCuota,DiasEntreCuotas,DiasTolerancia,IdEstadoDePrestamo)
	VALUES(@Monto,@FechaAcuerdo,@CantCuotas,@InteresXCuota,@DiasEntreCuotas,@DiasTolereancia,@idEstadoPrestamo);
    
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarDetalle_scalar]    Script Date: 7/10/2021 10:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertarDetalle_scalar]
@Monto INT,@idEstadoPrestamo INT,@CantCuotas INT,@InteresXCuota INT,@DiasEntreCuotas INT,@DiasTolereancia INT,@FechaAcuerdo DATETIME = NULL
	
AS
BEGIN

	
	INSERT INTO DetallePrestamos(Monto,FechaDeAcuerdo,CantidadCuotas,InteresXCuota,DiasEntreCuotas,DiasTolerancia,IdEstadoDePrestamo)
	VALUES(@Monto,@FechaAcuerdo,@CantCuotas,@InteresXCuota,@DiasEntreCuotas,@DiasTolereancia,@idEstadoPrestamo);
    SELECT @@IDENTITY;
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarEstadoPrestamo]    Script Date: 7/10/2021 10:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertarEstadoPrestamo]
@Comentarios VARCHAR(512), @Nombre VARCHAR(50)
	
AS
BEGIN

	SET NOCOUNT ON;
	INSERT INTO EstadosDePrestamos(Nombre,Comentarios)
	VALUES(@Nombre,@Comentarios);
    
END
GO
/****** Object:  StoredProcedure [dbo].[Insertarlocalidad]    Script Date: 7/10/2021 10:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Insertarlocalidad]
@IdDpto INT, @Nombre VARCHAR(250)
	
AS
BEGIN

	SET NOCOUNT ON;
	INSERT INTO Localidades (IdDepartamento,Nombre)
	VALUES(@IdDpto,@Nombre);
    
END
GO
/****** Object:  StoredProcedure [dbo].[Insertarlocalidad_scalar]    Script Date: 7/10/2021 10:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Insertarlocalidad_scalar]
@IdDpto INT, @Nombre VARCHAR(250)
	
AS
BEGIN

	SET NOCOUNT ON;
	INSERT INTO Localidades (IdDepartamento,Nombre)
	VALUES(@IdDpto,@Nombre);
	SELECT @@IDENTITY;
    
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarPrestamo]    Script Date: 7/10/2021 10:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertarPrestamo]
@idDetalle INT,@idPestamista INT,@idPrestador INT
	
AS
BEGIN

	SET NOCOUNT ON;
	INSERT INTO Prestamos(IdDetallePrestamo,IdUsuarioPrestamista,IdUsuarioPrestador)
	VALUES(@idDetalle,@idPestamista,@idPrestador);
    
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarPrestamo_scalar]    Script Date: 7/10/2021 10:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertarPrestamo_scalar]
@idDetalle INT,@idPestamista INT,@idPrestador INT = NULL
	
AS
BEGIN

	
	INSERT INTO Prestamos(IdDetallePrestamo,IdUsuarioPrestamista,IdUsuarioPrestador)
	VALUES(@idDetalle,@idPestamista,@idPrestador);
    SELECT @@IDENTITY;
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarUsuario]    Script Date: 7/10/2021 10:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertarUsuario]
	-- Add the parameters for the stored procedure here
	@Username VARCHAR(50), @Password VARCHAR(20),@Nombre VARCHAR(50),@Apellido VARCHAR(50),@Mail VARCHAR(320),
	@Telefono VARCHAR(50),@Direccion VARCHAR(320),@Dni VARCHAR(20),@CBU VARCHAR(20),@CBUAlias VARCHAR(20),@Cuit VARCHAR(20),
	@Puntos INT,@Ocupacion VARCHAR(50),@Descripcion VARCHAR(512),@UrlFoto VARCHAR(512),@IdGenero INT,@IdLocalidad INT
	,@FechaCreacion DATETIME,@FechaNacimiento DATETIME,@CantPrestamosExitosos INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	INSERT INTO Usuarios(UserName,Password,Nombre,Apellido,Mail,Telefono,Direccion,DNI,CBU,CBUAlias,CUIT,Puntos
	,Ocupacion,FechaCreación,Descripcion,IdGenero,IdLocalidad,URLFoto,CantidadPrestamosExitosos,FechaNacimiento)
	VALUES(@Username, @Password,@Nombre,@Apellido,@Mail,@Telefono,@Direccion,@Dni,@CBU,@CBUAlias,@Cuit,@Puntos,@Ocupacion,@FechaCreacion,
	@Descripcion,@IdGenero,@IdLocalidad,@UrlFoto,@CantPrestamosExitosos	,@FechaNacimiento);

END
GO
/****** Object:  StoredProcedure [dbo].[InsertarUsuario_scalar]    Script Date: 7/10/2021 10:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertarUsuario_scalar]
	-- Add the parameters for the stored procedure here
	@Username VARCHAR(50), @Password VARCHAR(20),@Nombre VARCHAR(50),@Apellido VARCHAR(50),@Mail VARCHAR(320),
	@Telefono VARCHAR(50),@Direccion VARCHAR(320),@Dni VARCHAR(20),@CBU VARCHAR(20),@CBUAlias VARCHAR(20),@Cuit VARCHAR(20),
	@Puntos INT,@Ocupacion VARCHAR(50),@Descripcion VARCHAR(512) = NULL,@UrlFoto VARCHAR(512) = NULL,@IdGenero INT,@IdLocalidad INT
	,@FechaCreacion DATETIME,@FechaNacimiento DATETIME,@CantPrestamosExitosos INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	INSERT INTO Usuarios(UserName,Password,Nombre,Apellido,Mail,Telefono,Direccion,DNI,CBU,CBUAlias,CUIT,Puntos
	,Ocupacion,FechaCreación,Descripcion,IdGenero,IdLocalidad,URLFoto,CantidadPrestamosExitosos,FechaNacimiento,ApiKey)
	VALUES(@Username, @Password,@Nombre,@Apellido,@Mail,@Telefono,@Direccion,@Dni,@CBU,@CBUAlias,@Cuit,@Puntos,@Ocupacion,@FechaCreacion,
	@Descripcion,@IdGenero,@IdLocalidad,@UrlFoto,@CantPrestamosExitosos	,@FechaNacimiento,NEWID());

	SELECT @@IDENTITY;

END
GO
/****** Object:  StoredProcedure [dbo].[ListarPrestamosDelQuePide]    Script Date: 7/10/2021 10:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ListarPrestamosDelQuePide]
	@IdUsuario INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   SELECT Prestamos.IdDetallePrestamo,Usuarios.UserName AS prestamista, DetallePrestamos.Monto ,EstadosDePrestamos.Nombre AS estado FROM Prestamos
	INNER JOIN DetallePrestamos ON Prestamos.IdDetallePrestamo = DetallePrestamos.Id
	INNER JOIN EstadosdePrestamos ON DetallePrestamos.IdEstadoDePrestamo = EstadosDePrestamos.id
	INNER JOIN Usuarios ON Usuarios.Id = Prestamos.IdUsuarioPrestamista
	WHERE Prestamos.IdUsuarioPrestador = @IdUsuario
END
GO
/****** Object:  StoredProcedure [dbo].[ListarPrestamosDePrestamista]    Script Date: 7/10/2021 10:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ListarPrestamosDePrestamista]
	@IdUsuario INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT Prestamos.IdDetallePrestamo, Usuarios.UserName AS prestamista, DetallePrestamos.Monto ,EstadosDePrestamos.Nombre AS estado FROM Prestamos
	INNER JOIN DetallePrestamos ON Prestamos.IdDetallePrestamo = DetallePrestamos.Id
	INNER JOIN EstadosdePrestamos ON DetallePrestamos.IdEstadoDePrestamo = EstadosDePrestamos.id
	INNER JOIN Usuarios ON Usuarios.Id = Prestamos.IdUsuarioPrestador
	WHERE Prestamos.IdUsuarioPrestamista = @IdUsuario
END
GO
/****** Object:  StoredProcedure [dbo].[Localidades_ObtenerPorIdDepto]    Script Date: 7/10/2021 10:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Localidades_ObtenerPorIdDepto]
		@intIdDepto INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT 
		[Id],
		[Nombre]
  FROM [Localidades]
  WHERE Localidades.Id = @intIdDepto
  ORDER BY 
	Nombre
END
GO
/****** Object:  StoredProcedure [dbo].[PreguntasFrecuentes_obtenerTodos]    Script Date: 7/10/2021 10:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PreguntasFrecuentes_obtenerTodos]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT * FROM PreguntasFrecuentes 
	ORDER BY Id
END
GO
/****** Object:  StoredProcedure [dbo].[Prestamo_ObtenerActores]    Script Date: 7/10/2021 10:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Prestamo_ObtenerActores]
@IdPrestamo INT
AS	
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT Usuarios.UserName AS Nombre_prestamista
  FROM Usuarios  INNER JOIN Prestamos ON Usuarios.id = Prestamos.IdUsuarioPrestamista
  WHERE Prestamos.Id = @IdPrestamo

  	SELECT Usuarios.UserName AS Nombre_recibidor
  FROM Usuarios  INNER JOIN Prestamos ON Usuarios.id = Prestamos.IdUsuarioPrestador
  WHERE Prestamos.Id = @IdPrestamo

  
END
GO
/****** Object:  StoredProcedure [dbo].[Prestamo_ObtenerPorId]    Script Date: 7/10/2021 10:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Prestamo_ObtenerPorId]
@IdPrestamo INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * 
  FROM Prestamos
  WHERE Prestamos.IdDetallePrestamo = @IdPrestamo
END
GO
/****** Object:  StoredProcedure [dbo].[Prestamo_obtenerPorMonto]    Script Date: 7/10/2021 10:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Prestamo_obtenerPorMonto] 
	@MaxMonto INT, @IdUsuario INT
AS
BEGIN
	SELECT
		DetallePrestamos.Id, 
		DetallePrestamos.Monto, 
		Usuarios.UserName,
		Usuarios.URLFoto
	FROM DetallePrestamos 
	INNER JOIN Prestamos ON DetallePrestamos.Id = Prestamos.IdDetallePrestamo 
	INNER JOIN Usuarios ON Prestamos.IdUsuarioPrestamista = Usuarios.Id
	WHERE DetallePrestamos.Monto <= @MaxMonto AND Prestamos.IdUsuarioPrestamista != @IdUsuario AND Prestamos.IdUsuarioPrestador IS NULL
END

GO
/****** Object:  StoredProcedure [dbo].[Prestamos_busquedaFiltrada]    Script Date: 7/10/2021 10:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Prestamos_busquedaFiltrada]
	@MontoMax INT  = NULL,
	@MaxInteres  INT = NULL,
	@MinDiasTolerancia INT = NULL,
	@MinDiasEntreCuotas INT  = NULL, 
	@MinCantCutoas INT  = NULL,
	@IdUsuario INT
AS
BEGIN
	SELECT Prestamos.Id, Usuarios.UserName, 
	DetallePrestamos.Monto,
	DetallePrestamos.FechaDeAcuerdo,
	DetallePrestamos.InteresXCuota,
	DetallePrestamos.CantidadCuotas,
	DetallePrestamos.DiasEntreCuotas,
	DetallePrestamos.DiasTolerancia,
	DetallePrestamos.IdEstadoDePrestamo

	FROM Prestamos
	INNER JOIN DetallePrestamos ON DetallePrestamos.Id = Prestamos.IdDetallePrestamo
	INNER JOIN Usuarios ON Usuarios.id = Prestamos.IdUsuarioPrestamista
	WHERE (DetallePrestamos.Monto <= @MontoMax OR @MontoMax IS NULL)
	AND (DetallePrestamos.CantidadCuotas >= @MinCantCutoas OR @MinCantCutoas IS NULL)
	AND(DetallePrestamos.DiasEntreCuotas >= @MinDiasEntreCuotas OR @MinDiasEntreCuotas IS NULL) 
	AND (DetallePrestamos.InteresXCuota <= @MaxInteres OR @MaxInteres IS NULL) 
	AND (DetallePrestamos.DiasTolerancia >= @MinDiasTolerancia OR @MinDiasTolerancia IS NULL)  
	AND Prestamos.IdUsuarioPrestamista != @IdUsuario AND Prestamos.IdUsuarioPrestador IS NULL
END
GO
/****** Object:  StoredProcedure [dbo].[Prestamos_obtenerPorNombreEstado]    Script Date: 7/10/2021 10:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Prestamos_obtenerPorNombreEstado] 
	@nombreEstado VARCHAR(20)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   SELECT DetallePrestamos.*, EstadosDePrestamos.Nombre FROM DetallePrestamos
   INNER JOIN EstadosDePrestamos ON DetallePrestamos.IdEstadoDePrestamo = EstadosDePrestamos.Id
   WHERE @nombreEstado = EstadosDePrestamos.Nombre
   ORDER BY DetallePrestamos.Monto
END
GO
/****** Object:  StoredProcedure [dbo].[Prestamos_obtenerTodos]    Script Date: 7/10/2021 10:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Prestamos_obtenerTodos]
	
AS
BEGIN
	SELECT * FROM Prestamos
	
	
END

GO
/****** Object:  StoredProcedure [dbo].[Prestamos_update]    Script Date: 7/10/2021 10:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Prestamos_update]
@idDetalle INT,@idPestamista INT,@idPrestador INT , @Id INT
	
AS
BEGIN

	
	UPDATE Prestamos
	SET IdDetallePrestamo = @idDetalle,
	IdUsuarioPrestamista = @idPestamista,
	IdUsuarioPrestador = @idPrestador
	WHERE Prestamos.Id = @Id
	
    
END
GO
/****** Object:  StoredProcedure [dbo].[Provincias_ObtenerTodos]    Script Date: 7/10/2021 10:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Provincias_ObtenerTodos]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT 
		[Id],
		[Nombre]
  FROM [Provincias]
  ORDER BY 
	Orden
END
GO
/****** Object:  StoredProcedure [dbo].[Usuario_cambiarContraseña]    Script Date: 7/10/2021 10:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================

CREATE PROCEDURE [dbo].[Usuario_cambiarContraseña]
	@idUsuario INT , @password VARCHAR(20)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	

    UPDATE Usuarios
	SET Password = @password
	WHERE Id = @idUsuario
	RETURN @@ROWCOUNT;
END
GO
/****** Object:  StoredProcedure [dbo].[Usuario_ObtenerPorId]    Script Date: 7/10/2021 10:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usuario_ObtenerPorId]
		@intId INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT 
		[Usuarios].[Id]								AS [Usuarios_Id]						,
		[Usuarios].[UserName]						AS [Usuarios_UserName]					,
		[Usuarios].[Password]						AS [Usuarios_Password]					,
		[Usuarios].[Nombre]							AS [Usuarios_Nombre]					,
		[Usuarios].[Apellido]						AS [Usuarios_Apellido]					,
		[Usuarios].[Mail]							AS [Usuarios_Mail]						,
		[Usuarios].[Telefono]						AS [Usuarios_Telefono]					,
		[Usuarios].[Direccion]						AS [Usuarios_Direccion]				,
		[Usuarios].[DNI]							AS [Usuarios_DNI]						,
		[Usuarios].[CBU]							AS [Usuarios_CBU]						,
		[Usuarios].[CBUAlias]						AS [Usuarios_CBUAlias]					,
		[Usuarios].[CUIT]							AS [Usuarios_CUIT]						,
		[Usuarios].[Puntos]							AS [Usuarios_Puntos]					,
		[Usuarios].[Ocupacion]						AS [Usuarios_Ocupacion]				,
		[Usuarios].[FechaCreación]					AS [Usuarios_FechaCreación]			,
		[Usuarios].[Descripcion]					AS [Usuarios_Descripcion]				,
		[Usuarios].[IdGenero]						AS [Usuarios_IdGenero]					,
		[Usuarios].[IdLocalidad]					AS [Usuarios_IdLocalidad]				,
		[Usuarios].[URLFoto]						AS [Usuarios_URLFoto]					,
		[Usuarios].[CantidadPrestamosExitosos]		AS [Usuarios_CantidadPrestamosExitosos],
		[Usuarios].[FechaNacimiento]				AS [Usuarios_FechaNacimiento]			,
		[Usuarios].[ApiKey]				            AS [Usuarios_Apikey]			,
		Generos.Nombre								AS Generos_Nombre						,
		Localidades.Nombre							AS Localidades_Nombre 
  FROM [Usuarios]
  INNER JOIN Generos ON Usuarios.IdGenero = Generos.Id
  INNER JOIN Localidades ON Usuarios.IdLocalidad = Localidades.Id
  WHERE Usuarios.Id = @intId
  ORDER BY 
	Usuarios.Nombre
END
GO
/****** Object:  StoredProcedure [dbo].[Usuario_ObtenerPorIdGenero]    Script Date: 7/10/2021 10:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usuario_ObtenerPorIdGenero]
@Idgenero INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT 
		[Usuarios].[Id]								AS [Usuarios_Id]						,
		[Usuarios].[UserName]						AS [Usuarios_UserName]					,
		[Usuarios].[Password]						AS [Usuarios_Password]					,
		[Usuarios].[Nombre]							AS [Usuarios_Nombre]					,
		[Usuarios].[Apellido]						AS [Usuarios_Apellido]					,
		[Usuarios].[Mail]							AS [Usuarios_Mail]						,
		[Usuarios].[Telefono]						AS [Usuarios_Telefono]					,
		[Usuarios].[Direccion]						AS [Usuarios_Direccion]				,
		[Usuarios].[DNI]							AS [Usuarios_DNI]						,
		[Usuarios].[CBU]							AS [Usuarios_CBU]						,
		[Usuarios].[CBUAlias]						AS [Usuarios_CBUAlias]					,
		[Usuarios].[CUIT]							AS [Usuarios_CUIT]						,
		[Usuarios].[Puntos]							AS [Usuarios_Puntos]					,
		[Usuarios].[Ocupacion]						AS [Usuarios_Ocupacion]				,
		[Usuarios].[FechaCreación]					AS [Usuarios_FechaCreación]			,
		[Usuarios].[Descripcion]					AS [Usuarios_Descripcion]				,
		[Usuarios].[IdGenero]						AS [Usuarios_IdGenero]					,
		[Usuarios].[IdLocalidad]					AS [Usuarios_IdLocalidad]				,
		[Usuarios].[URLFoto]						AS [Usuarios_URLFoto]					,
		[Usuarios].[CantidadPrestamosExitosos]		AS [Usuarios_CantidadPrestamosExitosos],
		[Usuarios].[FechaNacimiento]				AS [Usuarios_FechaNacimiento]			,
		[Usuarios].[ApiKey]				            AS [Usuarios_Apikey]					,
		Generos.Nombre								AS Generos_Nombre						,
		Localidades.Nombre							AS Localidades_Nombre 
  FROM [Usuarios]
  INNER JOIN Generos ON Usuarios.IdGenero = Generos.Id
  INNER JOIN Localidades ON Usuarios.IdLocalidad = Localidades.Id
  WHERE Usuarios.IdGenero = @Idgenero
  ORDER BY 
	Usuarios.Nombre
END
GO
/****** Object:  StoredProcedure [dbo].[Usuario_ObtenerPorIdLocalidad]    Script Date: 7/10/2021 10:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usuario_ObtenerPorIdLocalidad]
		@intIdLocalidad INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT 
		[Usuarios].[Id]								AS [Usuarios_Id]						,
		[Usuarios].[UserName]						AS [Usuarios_UserName]					,
		[Usuarios].[Password]						AS [Usuarios_Password]					,
		[Usuarios].[Nombre]							AS [Usuarios_Nombre]					,
		[Usuarios].[Apellido]						AS [Usuarios_Apellido]					,
		[Usuarios].[Mail]							AS [Usuarios_Mail]						,
		[Usuarios].[Telefono]						AS [Usuarios_Telefono]					,
		[Usuarios].[Direccion]						AS [Usuarios_Direccion]				,
		[Usuarios].[DNI]							AS [Usuarios_DNI]						,
		[Usuarios].[CBU]							AS [Usuarios_CBU]						,
		[Usuarios].[CBUAlias]						AS [Usuarios_CBUAlias]					,
		[Usuarios].[CUIT]							AS [Usuarios_CUIT]						,
		[Usuarios].[Puntos]							AS [Usuarios_Puntos]					,
		[Usuarios].[Ocupacion]						AS [Usuarios_Ocupacion]				,
		[Usuarios].[FechaCreación]					AS [Usuarios_FechaCreación]			,
		[Usuarios].[Descripcion]					AS [Usuarios_Descripcion]				,
		[Usuarios].[IdGenero]						AS [Usuarios_IdGenero]					,
		[Usuarios].[IdLocalidad]					AS [Usuarios_IdLocalidad]				,
		[Usuarios].[URLFoto]						AS [Usuarios_URLFoto]					,
		[Usuarios].[CantidadPrestamosExitosos]		AS [Usuarios_CantidadPrestamosExitosos],
		[Usuarios].[FechaNacimiento]				AS [Usuarios_FechaNacimiento]			,
		[Usuarios].[ApiKey]				            AS [Usuarios_Apikey]			,
		Generos.Nombre								AS Generos_Nombre						,
		Localidades.Nombre							AS Localidades_Nombre 
  FROM [Usuarios]
  INNER JOIN Generos ON Usuarios.IdGenero = Generos.Id
  INNER JOIN Localidades ON Usuarios.IdLocalidad = Localidades.Id
  WHERE Usuarios.IdLocalidad = @intIdLocalidad
  ORDER BY 
	Usuarios.Nombre
END
GO
/****** Object:  StoredProcedure [dbo].[Usuario_ObtenerPorNombreUsuario]    Script Date: 7/10/2021 10:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usuario_ObtenerPorNombreUsuario]
		@UserName VARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
		SELECT 
		[Usuarios].[Id]								AS [Usuarios_Id]						,
		[Usuarios].[UserName]						AS [Usuarios_UserName]					,
		[Usuarios].[Password]						AS [Usuarios_Password]					,
		[Usuarios].[Nombre]							AS [Usuarios_Nombre]					,
		[Usuarios].[Apellido]						AS [Usuarios_Apellido]					,
		[Usuarios].[Mail]							AS [Usuarios_Mail]						,
		[Usuarios].[Telefono]						AS [Usuarios_Telefono]					,
		[Usuarios].[Direccion]						AS [Usuarios_Direccion]				,
		[Usuarios].[DNI]							AS [Usuarios_DNI]						,
		[Usuarios].[CBU]							AS [Usuarios_CBU]						,
		[Usuarios].[CBUAlias]						AS [Usuarios_CBUAlias]					,
		[Usuarios].[CUIT]							AS [Usuarios_CUIT]						,
		[Usuarios].[Puntos]							AS [Usuarios_Puntos]					,
		[Usuarios].[Ocupacion]						AS [Usuarios_Ocupacion]				,
		[Usuarios].[FechaCreación]					AS [Usuarios_FechaCreación]			,
		[Usuarios].[Descripcion]					AS [Usuarios_Descripcion]				,
		[Usuarios].[IdGenero]						AS [Usuarios_IdGenero]					,
		[Usuarios].[IdLocalidad]					AS [Usuarios_IdLocalidad]				,
		[Usuarios].[URLFoto]						AS [Usuarios_URLFoto]					,
		[Usuarios].[CantidadPrestamosExitosos]		AS [Usuarios_CantidadPrestamosExitosos],
		[Usuarios].[FechaNacimiento]				AS [Usuarios_FechaNacimiento]			,
		[Usuarios].[ApiKey]				            AS [Usuarios_Apikey]			,
		Generos.Nombre								AS Generos_Nombre						,
		Localidades.Nombre							AS Localidades_Nombre 
  FROM [Usuarios]
  INNER JOIN Generos ON Usuarios.IdGenero = Generos.Id
  INNER JOIN Localidades ON Usuarios.IdLocalidad = Localidades.Id
  WHERE Usuarios.UserName = @UserName
  ORDER BY 
	Usuarios.Nombre
END
GO
/****** Object:  StoredProcedure [dbo].[Usuario_ObtenerPorPuntos]    Script Date: 7/10/2021 10:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usuario_ObtenerPorPuntos]
		@puntos INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT 
		[Usuarios].[Id]								AS [Usuarios_Id]						,
		[Usuarios].[UserName]						AS [Usuarios_UserName]					,
		[Usuarios].[Password]						AS [Usuarios_Password]					,
		[Usuarios].[Nombre]							AS [Usuarios_Nombre]					,
		[Usuarios].[Apellido]						AS [Usuarios_Apellido]					,
		[Usuarios].[Mail]							AS [Usuarios_Mail]						,
		[Usuarios].[Telefono]						AS [Usuarios_Telefono]					,
		[Usuarios].[Direccion]						AS [Usuarios_Direccion]				,
		[Usuarios].[DNI]							AS [Usuarios_DNI]						,
		[Usuarios].[CBU]							AS [Usuarios_CBU]						,
		[Usuarios].[CBUAlias]						AS [Usuarios_CBUAlias]					,
		[Usuarios].[CUIT]							AS [Usuarios_CUIT]						,
		[Usuarios].[Puntos]							AS [Usuarios_Puntos]					,
		[Usuarios].[Ocupacion]						AS [Usuarios_Ocupacion]				,
		[Usuarios].[FechaCreación]					AS [Usuarios_FechaCreación]			,
		[Usuarios].[Descripcion]					AS [Usuarios_Descripcion]				,
		[Usuarios].[IdGenero]						AS [Usuarios_IdGenero]					,
		[Usuarios].[IdLocalidad]					AS [Usuarios_IdLocalidad]				,
		[Usuarios].[URLFoto]						AS [Usuarios_URLFoto]					,
		[Usuarios].[CantidadPrestamosExitosos]		AS [Usuarios_CantidadPrestamosExitosos],
		[Usuarios].[FechaNacimiento]				AS [Usuarios_FechaNacimiento]			,
		[Usuarios].[ApiKey]				            AS [Usuarios_Apikey]			,
		Generos.Nombre								AS Generos_Nombre						,
		Localidades.Nombre							AS Localidades_Nombre 
  FROM [Usuarios]
  INNER JOIN Generos ON Usuarios.IdGenero = Generos.Id
  INNER JOIN Localidades ON Usuarios.IdLocalidad = Localidades.Id
  WHERE Usuarios.Puntos >= @puntos
  ORDER BY 
	Usuarios.Nombre
END
GO
/****** Object:  StoredProcedure [dbo].[Usuarios_login]    Script Date: 7/10/2021 10:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usuarios_login]
@mail VARCHAR(320), @contra	VARCHAR(20)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.


    SELECT 
	[Usuarios].[Id]								AS [Usuarios_Id]						,
		[Usuarios].[UserName]						AS [Usuarios_UserName]					,
		[Usuarios].[Password]						AS [Usuarios_Password]					,
		[Usuarios].[Nombre]							AS [Usuarios_Nombre]					,
		[Usuarios].[Apellido]						AS [Usuarios_Apellido]					,
		[Usuarios].[Mail]							AS [Usuarios_Mail]						,
		[Usuarios].[Telefono]						AS [Usuarios_Telefono]					,
		[Usuarios].[Direccion]						AS [Usuarios_Direccion]				,
		[Usuarios].[DNI]							AS [Usuarios_DNI]						,
		[Usuarios].[CBU]							AS [Usuarios_CBU]						,
		[Usuarios].[CBUAlias]						AS [Usuarios_CBUAlias]					,
		[Usuarios].[CUIT]							AS [Usuarios_CUIT]						,
		[Usuarios].[Puntos]							AS [Usuarios_Puntos]					,
		[Usuarios].[Ocupacion]						AS [Usuarios_Ocupacion]				,
		[Usuarios].[FechaCreación]					AS [Usuarios_FechaCreación]			,
		[Usuarios].[Descripcion]					AS [Usuarios_Descripcion]				,
		[Usuarios].[IdGenero]						AS [Usuarios_IdGenero]					,
		[Usuarios].[IdLocalidad]					AS [Usuarios_IdLocalidad]				,
		[Usuarios].[URLFoto]						AS [Usuarios_URLFoto]					,
		[Usuarios].[CantidadPrestamosExitosos]		AS [Usuarios_CantidadPrestamosExitosos],
		[Usuarios].[FechaNacimiento]				AS [Usuarios_FechaNacimiento]			,
		[Usuarios].[ApiKey]				            AS [Usuarios_Apikey]			,
		Generos.Nombre								AS Generos_Nombre						,
		Localidades.Nombre							AS Localidades_Nombre 
	FROM Usuarios
	INNER JOIN Generos ON Usuarios.IdGenero = Generos.Id
  INNER JOIN Localidades ON Usuarios.IdLocalidad = Localidades.Id
	WHERE Mail = @mail AND Password = @contra

	END
GO
/****** Object:  StoredProcedure [dbo].[Usuarios_obtenerIdPorApiKey]    Script Date: 7/10/2021 10:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Usuarios_obtenerIdPorApiKey]
	@ApiKey VARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    
	SELECT Id from Usuarios WHERE ApiKey = @ApiKey
END
GO
/****** Object:  StoredProcedure [dbo].[Usuarios_obtenerTodos]    Script Date: 7/10/2021 10:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Usuarios_obtenerTodos]
	
AS
BEGIN
		SELECT 
		[Usuarios].[Id]								AS [Usuarios_Id]						,
		[Usuarios].[UserName]						AS [Usuarios_UserName]					,
		[Usuarios].[Password]						AS [Usuarios_Password]					,
		[Usuarios].[Nombre]							AS [Usuarios_Nombre]					,
		[Usuarios].[Apellido]						AS [Usuarios_Apellido]					,
		[Usuarios].[Mail]							AS [Usuarios_Mail]						,
		[Usuarios].[Telefono]						AS [Usuarios_Telefono]					,
		[Usuarios].[Direccion]						AS [Usuarios_Direccion]				,
		[Usuarios].[DNI]							AS [Usuarios_DNI]						,
		[Usuarios].[CBU]							AS [Usuarios_CBU]						,
		[Usuarios].[CBUAlias]						AS [Usuarios_CBUAlias]					,
		[Usuarios].[CUIT]							AS [Usuarios_CUIT]						,
		[Usuarios].[Puntos]							AS [Usuarios_Puntos]					,
		[Usuarios].[Ocupacion]						AS [Usuarios_Ocupacion]				,
		[Usuarios].[FechaCreación]					AS [Usuarios_FechaCreación]			,
		[Usuarios].[Descripcion]					AS [Usuarios_Descripcion]				,
		[Usuarios].[IdGenero]						AS [Usuarios_IdGenero]					,
		[Usuarios].[IdLocalidad]					AS [Usuarios_IdLocalidad]				,
		[Usuarios].[URLFoto]						AS [Usuarios_URLFoto]					,
		[Usuarios].[CantidadPrestamosExitosos]		AS [Usuarios_CantidadPrestamosExitosos],
		[Usuarios].[FechaNacimiento]				AS [Usuarios_FechaNacimiento]			,
		[Usuarios].[ApiKey]				            AS [Usuarios_Apikey]			,
		Generos.Nombre								AS Generos_Nombre						,
		Localidades.Nombre							AS Localidades_Nombre 
  FROM [Usuarios]
  INNER JOIN Generos ON Usuarios.IdGenero = Generos.Id
  INNER JOIN Localidades ON Usuarios.IdLocalidad = Localidades.Id
  ORDER BY Usuarios.UserName
END

GO
/****** Object:  StoredProcedure [dbo].[Usuarios_Update]    Script Date: 7/10/2021 10:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Usuarios_Update] 
	 @idUsuario INT,  @Username VARCHAR(50), @Password VARCHAR(20),@Nombre VARCHAR(50),@Apellido VARCHAR(50),@Mail VARCHAR(320),
	@Telefono VARCHAR(50),@Direccion VARCHAR(320),@Dni VARCHAR(20),@CBU VARCHAR(20),@CBUAlias VARCHAR(20),@Cuit VARCHAR(20),
	@Puntos INT,@Ocupacion VARCHAR(50),@Descripcion VARCHAR(512),@UrlFoto VARCHAR(512),@IdGenero INT,@IdLocalidad INT
	,@FechaCreacion DATETIME,@FechaNacimiento DATETIME,@CantPrestamosExitosos INT
AS
BEGIN

 UPDATE Usuarios SET Usuarios.Password = @Password
,Nombre = @Nombre,
 Apellido = @Apellido 
 , Mail = @Mail 
 , Telefono = @Telefono
 , Direccion = @Direccion 
 , DNI = @Dni 
 , CBU = @CBU 
 , CBUAlias = @CBUAlias 
 , CUIT = @Cuit 
 , Puntos = @Puntos 
 , Ocupacion = @Ocupacion 
 , Descripcion = @Descripcion 
 , URLFoto = @UrlFoto
 , IdGenero = @IdGenero 
 , IdLocalidad = @IdLocalidad
 , FechaCreación = @FechaCreacion
 , FechaNacimiento = @FechaNacimiento 
 , CantidadPrestamosExitosos = @CantPrestamosExitosos
  WHERE Id = @idUsuario




END
GO
/****** Object:  StoredProcedure [dbo].[Usuarios_verificarApiKey]    Script Date: 7/10/2021 10:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Usuarios_verificarApiKey]
	@ApiKey VARCHAR(50)
AS
BEGIN
	SELECT COUNT(Usuarios.ApiKey) AS CantidadAfectadas FROM Usuarios WHERE ApiKey = @ApiKey

END

GO